*{
    margin: 0px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --button1: blue;
    --text1: #f8f8f8;
    --button2: rgb(255, 192, 76);
}
body{
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.2);
}
#root{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}header::before{
    content:'';
    width: 60px;
    height: 60px;
    margin-left: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../public/img/logo.jpg);
}
header div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header input[type=button]{
    margin: 2px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text1);
    border-radius: 10px;
    transition: ease 0.1s;
    background-color: var(--button1);
    border: 2px solid var(--button1);
}
header input[type=button]:hover{
    color: var(--button1);
    background-color: var(--text1);
}
.patients{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.patients form{
    width: 50%;
    margin: 10px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
}.patients form input{
    border: 0px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}.patients form input:focus{
    border-bottom: 2px solid var(--button1);
}.patients form input[type=submit],.patients form input[type=reset]{
    padding: 8px;
    transition: 0s;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--text1);
    background-color: var(--button2);
    border: 1px solid var(--button2);
}.patients form input[type=submit]:hover,.patients form input[type=reset]:hover{
    filter: contrast(1.2);
}.patients form input[type=reset]{
    margin-top: 5px;
    background-color: rgb(255, 87, 87);
}
footer{
    width: 100%;
    padding: 2px;
    background-color: var(--button1);
}
#tablePatients{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}#tablePatients tbody{
    text-align: center;
    border-radius: 10px;
    border-right: 2px solid rgba(0,0,0,0.2);
    box-shadow: 0px -5px 20px 1px rgba(0,0,0,0.2);
}

#home table th{
    cursor: pointer;
}
#home table thead th{
    padding: 10px;
    color: var(--text1);
    background-color: var(--button1);
    border-radius: 10px 10px 0px 0px;
    border: 2px solid var(--button1);
}
#home table tbody th{
    padding: 5px;
    transition: 0.2s;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid var(--button1);
}#home table tbody th:hover{
    filter: contrast(2);
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.3);
}

.modal,.modal2{
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    visibility: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}
.modal form,.modal2 form{
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.inputArea{
    display:flex;
    flex-direction: row;
    justify-content: center;
}.inputArea input{
    border: 0px;
    margin: 2px;
    padding: 8px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}.inputArea input[value=Atender]{
    background-color: rgb(65, 161, 65);
}.inputArea input[value=Editar]{
    background-color: rgb(94, 94, 186);
}.inputArea input[value=Deletar]{
    background-color: rgb(189, 75, 75);
}

.divPatients{
    width: 98%;
    height: 50%;
    overflow-y: visible;
    border-radius: 10px;
    background-color: white;
}.divInputs{
    width: 98%;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}.divInputs input{
    border: 0px;
    margin: 1px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 5px;
    border: 2px solid var(--button1);
    background-color: var(--button1);
}.divInputs input:hover{
    color: var(--button1);
    background-color: white;
}

.alert{
    top: 10px;
    opacity: 0;
    width: 100%;
    display: flex;
    position: fixed;
    visibility: hidden;
    align-items: center;
    flex-direction: column;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}.alert div:first-child{
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
}.alert input{
    border: 0px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    color: var(--text1);
    margin-bottom: -10px;
    background-color: var(--button1);
}
.visible{
    opacity: 1;
    visibility: visible;
}

.formsArea{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.patientsInfo{
    width: 90%;
    height: 93%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}.patientsInfo table{
    width: 30%;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    border-top: 2px solid var(--button1);
    box-shadow: 5px 5px 1px 1px rgba(0,0,0,0.8);
    border: 1px solid rgba(128, 128, 128, 0.507);
}.patientsInfo table:hover{
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.8);
}