*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
:root{
    --button1: blue;
    --text1: #f8f8f8;

    --button2: rgb(255, 192, 76);
}
body{
    overflow-x: hidden;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
header{

}
header button{
    background-color: var(--button1);
    color: var(--text1);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--button1);
    margin: 2px;
    cursor: pointer;
    transition: ease 0.1s;
}
header button:hover{
    background-color: var(--text1);
    color: var(--button1);
}
.patients{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.patients form{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}.patients form input{
    font-size: 14px;
    border: 0px;
    padding: 20px;
    background-color: rgba(0,0,0,0.025);
    border-bottom: 2px solid rgba(0,0,0,0.025);
}.patients form input:focus{
    border-bottom: 2px solid var(--button1);
}.patients form input[type=submit]{
    background-color: var(--button2);
    color: var(--text1);
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid var(--button2);
    padding: 8px;
    cursor: pointer;
    transition: 0s;
}.patients form input[type=submit]:hover{
    filter: contrast(1.2);
}
footer{
    width: 100%;
    padding: 2px;
    background-color: var(--button1);
}
#tablePatients{
    margin: 5px;
    width: 100%;
}